// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  background-color: #FAFAFA;
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    padding: 50px;
    text-align: left;
    word-wrap: break-word;

  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding: 0px;
  background-color: #FAFAFA;
}

.photo {
  background-color: white;
  border: 1px solid #E6E6E6;
}
