header {
  width: 100%;
  background-color: white;
  height: 54px;
}

.about {
  background-color: white;
  color: #333;
  margin: 100px;
}

footer {
  width: 100%;
  background-color: #FAFAFA;
  padding: 20px 0 10px 0;
  color: #66759C;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: #FAFAFA;
}


.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: black;
    margin-bottom: 0px;

}
.navbar-left {
  font-size: x-large;
  font-family: Comic Sans MS;
}
.navbar-default {
  .navbar-brand {
    color: black;
    &:hover {
      color: black;
    }
  }
  .navbar-nav > li > a {
    color: black;
    &:hover, &:focus {
      color: #66757F;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}
.top {
  font-family: Comic Sans MS;
}
